body {
    background-color: darkgreen;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

td, th {
    padding: .5em;
}

th {
    text-transform: uppercase;
}

td {
    text-align: center;
}

