body {
    background-color: #280000;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

td, th {
    padding: .5em;
}

th {
    text-transform: uppercase;
}

td {
    text-align: center;
}

#buttons {
    margin: auto;
    text-align: center;
}

button {
    padding: .25em;     
    background-color: #DD7230;
    border: none; 
    border-radius: .25em;
}

.hour {
    color: #F34213;
}

.minute {
    color: #BC5D2E;
}

.second {
    color: #DE9151;
}

h1 {
    color: #C05A0C;
}



